{relx, [
  {release, {example, "0.0.1"}, [
    example,
    cowboy
  ]},
  {dev_mode, false},
  {include_erts, true},
  {extended_start_script, true}
]}.

{deps, [
  {graphql, "", {git, "https://github.com/graphql-erlang/graphql.git", {branch, "master"}}},
  {cowboy, "1.1.2"}
]}.

{plugins, [rebar3_auto]}.