{relx, [
  {release, {example, "0.0.2"}, [
    example,
    cowboy
  ]},
  {dev_mode, false},
  {include_erts, true},
  {extended_start_script, true}
]}.

{deps, [
  {graphql, "", {git, "https://github.com/graphql-erlang/graphql.git", {tag, "0.1.1"}}},
  {cowboy, "1.1.2"},
  {jsx, "2.8.1"}
]}.

{plugins, [rebar3_auto]}.